name: Build test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.18'

      - name: Run Examples generate original html files with go-echarts
        run: |
          go get github.com/go-echarts/go-echarts/v2@master
          echo "Currently working on go-echarts version ===>"
          cat go.mod
          go mod tidy
          cat go.mod
          go run . false
